body {
    background: #f5f5f5;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background: #ffd857;
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #ffb300;
}

nav a {
    margin: 0 10px;
    padding: 8px 12px;
    color: #444;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    border: 2px solid #ffb300;
}

nav a:hover {
    background: #ffe08a;
}

h2 {
    text-align: center;
    margin-top: 30px;
}

.game-card {
    background: #fff;
    width: 300px;
    padding: 15px;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    text-align: center;
}

.game-card img {
    width: 100%;
}

.game-img {
    width: 60%;
    display: block;
    margin: 20px auto;
}

.game-details {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin: 20px;
}

.info, .changelog {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    width: 300px;
}

.btn, .btn-download {
    display: inline-block;
    padding: 10px 18px;
    background: #ffb300;
    color: #000;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
}

.btn:hover, .btn-download:hover {
    background: #ffd857;
}
